body {
  font-family: sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
}

#docInput {
  width: 400px;
  height: 400px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 8px;
  resize: none;
}